/* Reiniciando estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "navegador"
    "contenido"
    "fin";
  grid-template-columns: 1fr;
  grid-template-rows: 100px calc(100vh - 100px - 100px) 100px;
}

/* Navegador */
nav {
  grid-area: navegador;
  background: rgb(201, 244, 92);
}

nav .navbar-brand {
  display: flex;
  align-content: center;
}

#logo {
  width: 50px;
  animation: rotar 5s infinite;
  animation-direction: alternate;
}

@keyframes rotar {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

#nombre {
  color: white;
  animation: colorear 5s infinite;
}

@keyframes colorear {
  from {
    color: white;
    text-transform: none;
    font-weight: none;
  }

  to {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
  }
}

#navbarSupportedContent {
  display: none;
}

/* Contenido */
main {
  grid-area: contenido;
  padding: 20px 5px;
  background: whitesmoke;
}

.foto-container {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  margin: 20px 20px;
  background: rgb(240, 216, 200);
  box-sizing: border-box;
}

#foto {
  width: 120px;
  transition: 5s ease-out;
  animation: girar 5s infinite;
  animation-direction: alternate;
}

@keyframes girar {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}

.párrafo {
  text-align: justify;
  justify-content: right;
  font-size: 12px;
  color: black;
  margin-left: 15px;
}

/* Fin */
footer {
  grid-area: fin;
  background: rgb(201, 244, 92);
  padding: 20px 2px;
}

footer p {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
  line-height: 0;
  animation: move 5s infinite;
  animation-direction: alternate;
}

@keyframes move {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(100px);
  }
}

footer .bi {
  font-size: 30px;
  color: blue;
  animation: color 3s infinite;
  animation-direction: alternate;
}

@keyframes color {
  from {
    color: white;
  }

  to {
    color: red;
  }
}

footer .enlaces {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

/* Media Queries */

/* Tablets */
@media (min-width: 768px) {
  body {
    grid-template-areas:
      "navegador contenido"
      "fin contenido";
    grid-template-columns: 150px calc(100vw - 150px);
    grid-template-rows: calc(100vh - 100px) 100px;
  }

  /* Navegador */
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  nav p {
    display: none;
  }

  #navbarSupportedContent {
    display: block;
  }

  /* Contenido */
  main {
    padding: 50px 0;
    background: #f7e7e7;
  }

  .foto-container {
    margin: 50px 50px;
    border: 2px solid red;
  }

  /* Fin */
  footer {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 5px;
  }

  footer p {
    animation: none;
    display: inline;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

/* Desktops */

@media (min-width: 992px) {
  body {
    box-sizing: border-box;
    grid-template-areas:
      "navegador"
      "contenido"
      "fin";
    grid-template-columns: 100vw;
    grid-template-rows: 100px calc(100vh - 100px - 100px) 100px;
  }
   
  /* Navegador */
  nav {
    box-sizing: border-box;
  }

  nav .navbar-brand p {
    display: flex;
    align-content: center;
  }

  #logo {
    width: 50px;
    animation: rotar 5s infinite;
    animation-direction: alternate;
  }

  @keyframes rotar {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }

  #nombre {
    animation: colorear 5s infinite;
    animation-direction: alternate;
  }

  @keyframes colorear {
    from {
      color: black;
      text-transform: none;
      font-weight: none;
    }

    to {
      color: red;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .nav-link {
    background: rgb(201, 244, 92);
    color: red;
    border: 1px solid red;
    margin-right: 50px;
    padding: 5px 20px;
    transition: all 4s ease-out;
  }

  .nav-link:hover {
    background: red;
    color: rgb(201, 244, 92);
    font-weight: bold;
  }

  /* Contenido */
  main {
    padding: 25px 10px;
    background: whitesmoke;
    box-sizing: border-box;
  }

  .foto-container {
    box-sizing: border-box;
    margin: 20px 200px;
    border: 2px solid red;
  }

  /* Fin */
  footer {
    padding: 25px 0;
  }

  footer p {
    display: flex;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
    font-size: small;
    line-height: 0;
    animation: move 5s infinite;
    animation-direction: alternate;
  }

  @keyframes move {
    from {
      transform: translateX(-100px);
    }
    to {
      transform: translateX(100px);
    }
  }
}
